<div class="row">
    <div *ngFor="let pkmCard of pokemonCards" class="card" style="width: 15rem; margin: 1rem; cursor: pointer;"
        routerLink="/pokedex/{{pkmCard.pokemon_species.name.toLowerCase()}}">
        <img id="imgCard{{pkmCard.name}}" src="../../../assets/pokemon/{{pkmCard.pokemon_species.name}}.png" class="card-img-top"
            alt="{{pkmCard.name}}">
        <div class="card-body">
            <h5 class="card-title bold">
                {{pkmCard.pokemon_species.name}}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
                Nº {{pkmCard.entry_number}}
            </h6>
            <div class="row">
                <div *ngFor="let type of pkmCard.pokemon_species.varieties[0].pokemon.types; let length = count" class="col-6">
                    <img src="../../../assets/types/{{type.type.name}}.png" class="types-image">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row spinner-div" *ngIf="isLoading">
    <p-progressSpinner strokeWidth="1" [style]="{width: '5rem', height: '5rem', display: 'block', margin: 'auto'}">
    </p-progressSpinner>
</div>