.card-img-top {
    width: 100%;
    height: 15rem;
    padding: 1rem;
}

.ui-button {
    background-color: white;
    border-color: white;
    color: black;
    font-weight: bold;
    font-size: medium;
}

.ui-button:hover {
    color: black;
}

.data {
    display: block;
    justify-content: center;
    align-items: center;
}

.header-item {
    margin: 10px;
}

